body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #008cba;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
header.dark-mode {
    background-color: #1f1f1f;
}
footer.dark-mode {
    background-color: #1f1f1f;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide {
    display: none;
    width: 300px;
}

.slide.active {
    display: block;
}

button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.video-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
